:root {
    --primary_color: green;
    --hover_color: rgb(9, 88, 9);
    --nav_bar_paddings: 40px 20px;
}


.landing-page-container {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg,#D83F87 , #2A1B3D , #44318D , #E98074 , #A4B3B6);
    background-size: 400% 400%;
    animation: move 10s ease-in-out infinite;
    /* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */

    /* animation: move_backgroung-color 3s ease-in-out infinite; */
}


.friend-ways-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
.friend-ways-content {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.firend-ways-header {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0, 0%, 30%);
}

.friend-ways-logo {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.friend-ways-img img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
}
.friend-ways-text {
    margin-left: 20px;
    color: hsl(0, 0%, 40%);
    text-transform: capitalize;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
}

.friend-ways-text-image {
    margin-top: 50px;
}
.nb {
    font-size: 21px;
    color: var(--primary_color);
    /* color: rgb(56, 56, 56); */
    margin-top: 30px;
    text-align: center;
}

.friend-ways-main-text {
    font-family: kepler-std,sans-serif;
    font-size: 21px;
    line-height: 35px;
    color: rgb(56, 56, 56);
    margin-top: 50px;
}
.friend-ways-main-text.ed {
    margin-top: 100px;
}

.friend-ways-main-text a {
    color: rgb(56, 56, 56);
    transition: 0.3s;
    text-decoration: none;
    border-bottom: 3px solid;
}
.friend-ways-main-text a:hover {
    color: var(--primary_color);
}

.seven-ways-container {
    margin-top: 50px;
}
.seven-ways-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: hsl(0, 0%, 20%);
    font-size: 15px;
}
.seven-ways-header.swh {
    text-align: center;
}

.seven-ways-header.ed {
    margin-top: 50px;
}
.friend-ways-main-text.fwmt-margin {
    margin-top: 30px;
}
.seven-ways-image {
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
}
.seven-ways-header.ed.margin {
    margin-top: 100px;
}

.seven-ways-content-container.swcc-background {
    background-color: azure;
    margin-top: 100px;
    padding: 35px 0px;
}
.seven-ways-content-container.swcc-background .margin {
    margin: 0;
}


@media (min-width: 561px) {
    .seven-ways-content-container.swcc-background {
        padding: 35px 20px;
    }
}

@media (max-width: 870px) {
    .friend-ways-content {
        width: 600px;
    }
}

@media (max-width: 700px) {
    .friend-ways-content {
        width: 500px;
    }
    .friend-ways-text-image img {
        width: 100%;
    }
}

@media (max-width: 560px) {
    .friend-ways-content {
        width: 100%;
    }
    .firend-ways-header {
        padding: 0 20px;
    }
    .friend-ways-logo {
        padding: 0 10px;
    }
    .nb {
        padding: 0 10px;
    }
    .friend-ways-main-text {
        padding: 0 10px;
    }
    .seven-ways-container {
        width: 100%;
    }
    .seven-ways-header {
        padding-left: 25px;
    }
    .seven-ways-image .communication {
        width: 80%;
    }
    .seven-ways-header.margin {
        text-align: center;
    }
}



@keyframes text-reveal-name {
    100% {
        color: white;
    }
}